* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

header {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 150px;
	margin-top: 80px;
}

header h1 {
	font-size: 38px;
	font-weight: 900;
}

main {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 5vh;
	justify-content: flex-start;
	margin-top: 20px;
}

footer {
	align-items: center;
	flex-direction: column;
	font-style: italic;
	font-weight: bold;
}

footer span {
	font-weight: 400;
}

button {
	background-color: transparent;
	border: 2px solid black;
	border-radius: 50px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	height: 50px;
	line-height: 0px;
	padding: 20px;
	text-align: center;
	transition: all 0.3s ease;
	width: 135px;
}

button:hover {
	background-color: black;
	color: white;
}
